.sideStackLayoutHeader {
    background-color: #129794;
}

.sideStackLayout {
    background-color: #FFFFFF;
}


.sideLabel {
    padding: 10;
    font-size: 20;
}

.sideLightGrayLabel {
    background-color: lightgray;
}

#icmenu{
    width: 50;
    height: 50;
}

.icmenu{
    width: 50;
    height: 50;
}

.ou-allez-vous{
    /* padding: 8 8 8 0 ; */
    font-size: 18;
    width: 92%;
    height: 50;
    color: black;
}

.center {
    text-align: center;
}