<GridLayout rows="120,auto,auto,auto,auto,auto,auto" columns="auto,auto" class="sideStackLayoutHeader">
    <Image row="0" col="0" src="{{photoUrl}}" backgroundColor="gray" stretch="aspectFill" height="64" width="64"
        borderRadius="64" marginLeft="10" verticalAlignment="center" marginRight="10"></Image>
    <Label row="0" col="1" text="Test test" color="#FFFFFF" fontSize="20" width="70%" verticalAlignment="center"></Label>
    <Label row="1" colSpan="2" text="" textWrap="true" class="sideLabel sideLightGrayLabel"></Label>
    <Label row="2" colSpan="2" text="Profile" class="sideLabel sideStackLayout" (tap)="navigateToProfile()"></Label>
    <Label row="3" colSpan="2" text="History" class="sideLabel sideStackLayout"></Label>
    <Label row="4" colSpan="2" text="Search" class="sideLabel sideStackLayout"></Label>
    <Label row="5" colSpan="2" text="Settings" class="sideLabel sideStackLayout"></Label>
    <Label row="6" colSpan="2" text="Logout" class="sideLabel sideStackLayout" (tap)="logout()" textWrap="true"></Label>
</GridLayout>