<StackLayout backgroundColor="#f5f6f8" height="100%" verticalAlignment="center">
    <!--Step 1-->
    <ScrollView>
        <StackLayout>
            <GridLayout rows="auto" columns="*" marginTop="20">
                <Label row="0" text="CREATE NEW &#xA;ACCOUNT" fontWeight="500" textAlignment="center" letterSpacing="0.2" textWrap="true"
                    color="#767676" fontSize="18"></Label>
            </GridLayout>
            <GridLayout  padding="25" rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto" columns="*,*" class="form">
                <!-- firstname -->
                <StackLayout row="0" col="0" class="field-box">
                    <TextField class="input" maxLength="128" [(ngModel)]="input.firstname" hint="First Name" #firstname="ngModel" required></TextField>
                </StackLayout>

                <!-- lastname -->
                <StackLayout row="0" col="1" class="field-box">
                    <TextField class="input" maxLength="128" [(ngModel)]="input.lastname" hint="Last Name" #lastname="ngModel" required></TextField>
                </StackLayout>
                <!-- mobile no -->
                <StackLayout row="1" colSpan="2" class="field-box">
                    <InputMask class="input" hint="Mobile number" keyboardType="phone" mask="+61 [000]-[000000]" (extractedValueChange)="onExtractedValueChange($event)"
                        ngDefaultControl required mobile [(ngModel)]="input.mobile">
                    </InputMask>
                </StackLayout>
                <!-- email -->
                <StackLayout row="3" colSpan="2" class="field-box">
                    <TextField class="input" [(ngModel)]="input.email" keyboardType="email" hint="Email or Username" #email="ngModel" required
                        email maxLength="255"></TextField>
                </StackLayout>
                <!-- password -->
                <StackLayout row="5" colSpan="2" class="field-box">
                    <TextField hint="Password" class="input" minlength="6" [(ngModel)]="input.password" #password="ngModel" required secure="true"></TextField>
                </StackLayout>
                <StackLayout row="8" colSpan="2" *ngIf="password.errors && (password.dirty)">
                    <Label *ngIf="password.errors.required" class="text-danger" text="Password is required"></Label>
                    <Label *ngIf="password.errors.minlength" class="text-danger" text="Password must be longer than 6 characters"></Label>
                </StackLayout>
                <!-- confirm password -->
                <StackLayout row="6" colSpan="2" class="field-box">
                    <TextField hint="Confirm password" class="input" minlength="6" [(ngModel)]="input.password_confirmation" #password_confirmation="ngModel"
                        required secure="true"></TextField>
                </StackLayout>
                <StackLayout row="7" colSpan="2" *ngIf="input.password_confirmation">
                    <Label *ngIf="checkPassword()" class="text-danger" text="Password mismatch"></Label>
                </StackLayout>
                <StackLayout row="9" colSpan="2" *ngIf="password_confirmation.errors && (password_confirmation.dirty)">
                    <Label *ngIf="password_confirmation.errors.required" class="text-danger" text="Confirm password is required"></Label>
                </StackLayout>
                <StackLayout row="10" colSpan="2" class="field-box">
                    <TextField class="input" maxLength="128" [(ngModel)]="input.job_title" hint="Job title" required #job_title="ngModel"></TextField>
                </StackLayout>
            </GridLayout>
            <GridLayout rows="auto,auto,auto" padding="25" class="add-button">
                <Label row="0" col="0" text="CREATE NEW ACCOUNT" class="btn-label-arrow" (tap)="register()"></Label>
                <Label row="1" colSpan="2" text="By Signing up with RealEstate App you " class="text-center footnote m-t-10"></Label>
                <Label row="2" colSpan="2" class="text-center footnote m-b-10">
                    <FormattedString>
                        <Span text="agree to our "></Span>
                        <Span text="Term and Conditions" class="footer-label-color"></Span>
                    </FormattedString>
                </Label>
            </GridLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>