.btn-label-arrow {
  font-size: 18;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #129794;
  text-align: center;
  padding: 15;
  border-radius: 25;
  letter-spacing: 0.1;
}

.field-box {
  border-width: 3px;
  border-color: #eeeeee;
  margin-top: 5;
}