<StackLayout backgroundColor="#f5f6f8" height="100%" verticalAlignment="center">
    <!--Step 1-->
    <ScrollView>
        <StackLayout>
            <StackLayout orientation="horizontal" horizontalAlignment="center">
                <Label text="&#xE0D8;" fontSize="80%" color="#129794" class="gi" textWrap="true"></Label>
            </StackLayout>
            <GridLayout rows="auto" columns="*" marginTop="20">
                <Label row="0" text="FORGOT YOUR PASSWORD?" fontWeight="500" textAlignment="center" textWrap="true"
                    color="#767676" fontSize="18"></Label>
            </GridLayout>
            <StackLayout padding="20">
                <Label text="Sit back & Relax! while we send you verification code" class="text-center" textWrap="true"></Label>
            </StackLayout>
            <GridLayout rows="auto,auto,auto,auto,auto" columns="*,*" class="form" padding="25">
                <StackLayout row="0" colSpan="2" class="field-box">
                    <TextField hint="Enter Code" class="input" minlength="6" [(ngModel)]="input.code" #code="ngModel"
                        required></TextField>
                </StackLayout>
                <StackLayout row="1" colSpan="2" class="field-box">
                    <TextField hint="Password" class="input" minlength="6" [(ngModel)]="input.password" #password="ngModel"
                        required secure="true"></TextField>
                </StackLayout>
                <StackLayout row="2" colSpan="2" *ngIf="password.errors && (password.dirty)">
                    <Label *ngIf="password.errors.required" class="text-danger" text="Password is required"></Label>
                    <Label *ngIf="password.errors.minlength" class="text-danger" text="Password must be longer than 6 characters"></Label>
                </StackLayout>
                <!-- confirm password -->
                <StackLayout row="3" colSpan="2" class="field-box">
                    <TextField hint="Confirm password" class="input" minlength="6" [(ngModel)]="input.password_confirmation"
                        #password_confirmation="ngModel" required secure="true"></TextField>
                </StackLayout>
                <StackLayout row="4" colSpan="2" *ngIf="input.password_confirmation">
                    <Label *ngIf="checkPassword()" class="text-danger" text="Password mismatch"></Label>
                </StackLayout>
                <StackLayout row="5" colSpan="2" *ngIf="password_confirmation.errors && (password_confirmation.dirty)">
                    <Label *ngIf="password_confirmation.errors.required" class="text-danger" text="Confirm password is required"></Label>
                </StackLayout>
            </GridLayout>
            <StackLayout padding="25">
                <button text="Submit" (tap)="navigateToLogin()" class="btn-label-arrow"></button>
            </StackLayout>

        </StackLayout>
    </ScrollView>
</StackLayout>