<StackLayout backgroundColor="#f5f6f8" height="100%" verticalAlignment="center">
    <ScrollView>
        <StackLayout>
            <StackLayout orientation="horizontal" horizontalAlignment="center">
                <Label text="&#xE897;" fontSize="80%" color="#129794" class="gi" textWrap="true"></Label>
            </StackLayout>
            <GridLayout rows="auto" columns="*" marginTop="20">
                <Label row="0" text="FORGOT YOUR PASSWORD?" fontWeight="500" textAlignment="center" textWrap="true" color="#767676" fontSize="18"></Label>
            </GridLayout>
            <StackLayout padding="20">
                <Label text="We will send you a verification code to your registered mobile number!" class="text-center" textWrap="true"></Label>
            </StackLayout>
            <StackLayout class="form" padding="25">
                <StackLayout row="0" colSpan="2" class="field-box">
                    <TextField hint="Username" class="input" [(ngModel)]="input.username" #username="ngModel" required></TextField>
                </StackLayout>
            </StackLayout>
            <StackLayout padding="25">
                <button text="Send me a code!" (tap)="navigateToConfirmScreen()" class="btn-label-arrow"></button>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>