.sideStackLayoutHeader {
    background-color: #000000;
}

.sideStackLayout {
    background-color: #FFFFFF;
}

.sideLabel {
    padding: 10;
    font-size: 20;
}

.sideLightGrayLabel {
    background-color: lightgray;
}

#icmenu {
    width: 50;
    height: 50;
}

.icmenu {
    width: 50;
    height: 50;
}

.ou-allez-vous {
    /* padding: 8 8 8 0 ; */
    font-size: 18;
    width: 92%;
    height: 50;
    color: black;
}

.center {
    text-align: center;
}

.cardStyle {
    border-color: #129794;
    border-width: 0 0 5 0;
    border-style: solid;
}

.coverImage {
    background-image: url(~/assets/images/estate.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.tile-wrapper{margin: 30 0;}

.discover-food-event-profile-label {
    height: 5;
    background-color: #129794;
    color: #129794;
}