<RadSideDrawer #drawer drawerLocation="Left" tkExampleTitle tkToggleNavButton>
    <StackLayout tkDrawerContent class="sideStackLayout">
        <ns-drawer-component (output)="onCloseDrawerTap()"></ns-drawer-component>
    </StackLayout>
    <StackLayout tkMainContent backgroundColor="#f8f8f8">
        <ScrollView>
            <StackLayout>
                <StackLayout backgroundColor="#129794" orientation="horizontal">
                    <Label text="&#xE5D2;" fontSize="35" color="white" horizontalAlignment="left" (tap)="openDrawer()"
                        class="gi ga-font text-center" padding="10"></Label>
                    <Label text="Welcome User!" fontSize="20" color="white" fontWeight="500" paddingTop="15" textWrap="true"></Label>
                </StackLayout>
                <GridLayout rows="auto,auto,auto,auto" columns="*,*" padding="15">
                    <CardView row="0" col="0" margin="10" elevation="20" ripple="true" radius="15">
                        <StackLayout class="cardStyle" orientation="vertical" verticalAlignment="center"
                            backgroundColor="#ffffff" height="150" (tap)="navigateToProfile()">
                            <StackLayout horizontalAlignment="center" verticalAlignment="center">
                                <Label text="&#xf2bd;" color="#129794" fontSize="40" class="fa text-center" textWrap="true"></Label>
                                <Label text="PROFILE" fontSize="15" fontWeight="500" marginTop="10" textWrap="true"></Label>
                            </StackLayout>
                        </StackLayout>
                    </CardView>
                    <CardView row="0" col="1" margin="10" elevation="20" ripple="true" radius="15">
                        <StackLayout class="cardStyle" orientation="vertical" verticalAlignment="center"
                            backgroundColor="#ffffff" height="150">
                            <StackLayout horizontalAlignment="center" verticalAlignment="center">
                                <Label text="&#xf0c0;" color="#129794" fontSize="40" class="fa text-center" textWrap="true"></Label>
                                <Label text="TEAM" fontSize="15" fontWeight="500" marginTop="10" textWrap="true"></Label>
                            </StackLayout>
                        </StackLayout>
                    </CardView>

                    <CardView row="1" col="0" margin="10" elevation="20" ripple="true" radius="15">
                        <StackLayout class="cardStyle" orientation="vertical" verticalAlignment="center"
                            backgroundColor="#ffffff" height="150">
                            <StackLayout horizontalAlignment="center" verticalAlignment="center">
                                <Label text="&#xf1da;" color="#129794" fontSize="40" class="fa text-center" textWrap="true"></Label>
                                <Label text="HISTORY" fontSize="15" fontWeight="500" marginTop="10" textWrap="true"></Label>
                            </StackLayout>
                        </StackLayout>
                    </CardView>
                    <CardView row="1" col="1" margin="10" elevation="20" ripple="true" radius="15">
                        <StackLayout class="cardStyle" orientation="vertical" verticalAlignment="center"
                            backgroundColor="#ffffff" height="150">
                            <StackLayout horizontalAlignment="center" verticalAlignment="center">
                                <Label text="&#xf085;" color="#129794" fontSize="40" class="fa text-center" textWrap="true"></Label>
                                <Label text="SETTINGS" fontSize="15" fontWeight="500" marginTop="10" textWrap="true"></Label>
                            </StackLayout>
                        </StackLayout>
                    </CardView>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </StackLayout>

</RadSideDrawer>