<ScrollView>
    <StackLayout>
        <GridLayout>
            <Image src="res://home" marginTop="50" width="100" height="100" horizontalAlignment="center" stretch="aspectFill"></Image>
        </GridLayout>
        <GridLayout rows="auto" columns="*" marginBottom="10">
            <Label row="0" text="WELCOME" fontWeight="200" textAlignment="center" letterSpacing="0.2" textWrap="true"
                color="#767676" fontSize="28"></Label>
        </GridLayout>
        <GridLayout padding="25" rows="auto,auto,auto,auto" columns="*" class="form">
            <StackLayout row="0" class="field-box">
                <TextField class="input" [(ngModel)]="input.email" keyboardType="email" hint="Email or Username" #email="ngModel"
                    required maxLength="255"></TextField>
            </StackLayout>
            <StackLayout row="1" col="1" *ngIf="email.errors && (email.dirty)">
                <Label *ngIf="email.errors.required" class="text-danger" text="A valid email or username is required"></Label>
            </StackLayout>
            <StackLayout row="2" class="field-box">
                <TextField hint="Password" class="input" minlength="6" [(ngModel)]="input.password" #password="ngModel"
                    required secure="true"></TextField>
            </StackLayout>
            <StackLayout row="3" col="1" *ngIf="password.errors && (password.dirty)">
                <Label *ngIf="password.errors.required" class="text-danger" text="Password is required"></Label>
                <Label *ngIf="password.errors.minlength" class="text-danger" text="Password must be longer than 6 characters"></Label>
            </StackLayout>
            <StackLayout row="4" class="m-t-10">
                <Label col="0" text="Forgot Password?" (tap)="forgotPassword()" textAlignment="right" color="#767676"></Label>
            </StackLayout>
        </GridLayout>

        <GridLayout rows="auto,auto,auto" columns="*" padding="25" marginTop="50" class="add-button">
            <Label row="0" text="SIGN IN" class="btn-label-arrow" (tap)="signIn()"></Label>
            <Label row="1" fontSize="15" text="Don't have an account?" class="text-center footnote m-t-10"></Label>
            <Label row="2" fontSize="15" text="Create an account" class="text-center footnote" color="#ff3825" (tap)="register()"></Label>
        </GridLayout>
    </StackLayout>
</ScrollView>