.forgot-password-label {
  padding: 0;
  margin: 0 0 8 0;
  font-size: 13;
}

.footer-label-color {
  color: #008000;
  font-weight: 700;
}

.btn-label-arrow {
  font-size: 18;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #129794;
  text-align: center;
  padding: 15;
  border-radius: 25;
  letter-spacing: 0.1;
}

.field-box {
  border-width: 3px;
  border-color: #eeeeee;
  margin-top: 5;
}