<ScrollView>
    <StackLayout>
        <GridLayout rows="auto" columns="*" marginTop="20">
            <Label row="0" text="PROFILE" fontWeight="500" textAlignment="center" letterSpacing="0.2" textWrap="true" color="#767676"
                fontSize="18"></Label>
        </GridLayout>
        <GridLayout padding="25" rows="auto,auto,auto,auto,auto" columns="*" class="form">
            <StackLayout row="0" col="0" rowSpan="3" (tap)="onSelectSingleTap()">
                <!-- profile dp -->
                <!-- <StackLayout horizontalAlignment="center" *ngIf="!imageUpload">
                    <Image src="https://api.agentmaster.com.au/img/avatar/{{avatar}}" class="profile" stretch="aspectFill"></Image>
                </StackLayout> -->
                <StackLayout horizontalAlignment="center" >
                    <Image [src]="input.imageSrc" class="profile" stretch="aspectFill"></Image>
                </StackLayout>
                <!-- <StackLayout horizontalAlignment="center">
                    <Image [src]='data:image/png;base64,{{avatar1}}' class="profile" stretch="aspectFill" ></Image>
                </StackLayout> -->
                <StackLayout class="profile-edit" marginBottom="20">
                    <Label text="&#xf083;" color="white" (tap)="onSelectSingleTap()" class="fa" marginTop="9" marginLeft="9" textWrap="true"></Label>
                </StackLayout>
            </StackLayout>
            <!-- username -->
            <StackLayout row="3" col="0" class="field-box">
                <TextField class="input" ngDefaultControl [(ngModel)]="input.username" hint="Username" #username="ngModel"></TextField>
            </StackLayout>
            <!-- biography -->
            <StackLayout row="4" col="0" class="field-box">
                <TextView height="200" hint="Biography" ngDefaultControl [(ngModel)]="input.biography" #biography="ngModel" returnKeyType="send"
                    class="input" editable="true"></TextView>
            </StackLayout>
        </GridLayout>
        <StackLayout padding="25">
            <button text="Save" (tap)="save()" class="btn-label-arrow"></button>
        </StackLayout>
    </StackLayout>
</ScrollView>