.btn-label-arrow {
    font-size: 18;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #129794;
    text-align: center;
    padding: 15;
    border-radius: 25;
    letter-spacing: 0.1;
}

.field-box {
    border-width: 3px;
    border-color: #eeeeee;
    margin-top: 5;
}

.profile {
    height: 120;
    width: 120;
    border-radius: 100;
    border-color: #129794;
    border-width: 1;
}

.profile-edit {
    height: 32;
    width: 32;
    background-color: #129794;
    border-radius: 27;
    margin-top: -37;
    margin-left: 98;
}